* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// variables import
@import './vars.scss';

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
body,
button,
input {
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: auto;
  width: 80%;
}

img {
  display: block;
  width: 100%;
}